.checkout-cart-content {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.checkout-cart-content .item {
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  width: 100%;
  background-color: black;
  font-size: 1rem;
  margin-top: -1rem;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-container {
  display: flex;
  flex-direction: column;
  height: 12rem;
  padding: 1rem;
}

.cart-container .img {
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  height: 8rem;
}

.cart-container .content-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 1.5rem;
}

@media (max-width: 500px) {
  .cart-container .img {
    display: none;
  }
}

@media (max-width: 1040px) {
  .cart-container .content-container {
    display: flex;
    flex-direction: column;
  }
}

.cart-container .content {
  display: flex;
}

.cart-container .details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.cart-container .qty {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.cart-container .total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.cart-container .actions {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.cart-container .delete {
  margin-left: auto;
  justify-content: end;
  align-items: center;
  padding: 0;
}

.cart-container .total-actions {
  display: flex;
}
